<% hide_issue_id = (defined?(hide_items[:issue_id])) ? true : false %>

<table class="list em_list" style="display:none;">
<thead><tr>
    <th>#</th>
    <th>enabled</th>
    <% if !hide_issue_id %>
        <th>issue id</th>
    <% end %>
    <th>status</th>
    <th>priority</th>
    <th>equipment id</th>
    <th>start datetime</th>
    <th>end datetime</th>
</tr></thead>
<tbody>
</tbody>
</table>

<%= javascript_include_tag 'generate_table.js', :plugin => 'equipment_management' %>
