<% hide_issue_id = (defined?(hide_items[:issue_id])) ? true : false %>

<table class="list em_list" style="display:none;">
<thead><tr>
    <th class="#">#</th>
    <th class="enabled">enabled</th>
    <% if !hide_issue_id %>
        <th class="issue_id">issue id</th>
    <% end %>
    <th class="status">status</th>
    <th class="priority">priority</th>
    <th class="equipment_id">equipment id</th>
    <th class="start_datetime">start datetime</th>
    <th class="due_datetime">end datetime</th>
</tr></thead>
<tbody>
</tbody>
</table>

<%= javascript_include_tag 'generate_table.js', :plugin => 'equipment_management' %>
